div div {
    
    width: 100%;
    font-size: 1em;
    word-break: break-all;  
    max-width:800px;
    min-width: 600px;
    text-shadow: 13px -1px 17px rgb(250 249 253), 5px 5px 12px rgb(63 183 160);
    margin: auto;
}
body {
    background-image: url(./img/shto-takoe-html-768x576.jpg);
    background-size: cover;
}
[href^="https://"] {
    background: url(./img/external.png) 100% 50% no-repeat;
    padding-right: 10px;
}